<?xml version="1.0"?>
<configuration>
	<!-- appSettings网站信息配置-->
	<appSettings>
		<add key="Configpath" value="~/XmlConfig/webset.config"/>
		<!--默认菜单是否是展开状态-->
		<add key="MenuExpanded" value="false"/>
		<!--实体对象内容缓村的时间（分钟）-->
		<add key="ModelCache" value="30"/>
	</appSettings>
	<!-- 数据库连接字符串-->
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=Star-PC\SQLEXPRESS;uid=sa;pwd=Ki252002;database=InvoicingSys;persist security info=True;packet size=4096;"/>
		<!--<add name="Connection String" connectionString="data source = localhost; user id = sa;password =pcitc" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<httpModules>
			<add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web"/>
		</httpModules>
		<httpHandlers>
			<add path="*/coolite.axd" verb="*" type="Coolite.Ext.Web.ResourceManager" validate="false"/>
		</httpHandlers>
		<compilation debug="true"></compilation>
		<httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
		<identity impersonate="true"/>
		<authentication mode="Forms">
			<forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
			</forms>
		</authentication>
		<!--发生错误则跳转到Error.htm-->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="Error.htm"/>
			<error statusCode="404" redirect="Error.htm"/>
		</customErrors>
		<pages/>
	</system.web>
</configuration>
